* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.container {
  text-align: center;
  display: grid;
  grid-template-areas: 
    "head head"
    "side nav"
    "side art"
    "foot foot";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 9fr 1fr;
  height: 100vh;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: head;
  display: grid;
  grid-template: 
  "header-logo header-link-container";
  grid-template-columns: 1fr 2fr;
}

.logo {
  grid-area: header-logo;
  align-self: center;
  justify-self: start;
}

.menu {
  grid-area: header-link-container;
}

.menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.menu li {
  align-self: center;
  justify-self: center;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
  grid-area: side;
  display: grid;
  gap: 30px;
  grid-template: 1fr 1fr 1fr 1fr / 1fr;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-area: nav;
}

.nav ul {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  height: 100%;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  align-self: center;
  justify-self: center;
}

.article {
  background-color: #bccbde;
  grid-area: art;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: foot;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}