body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  gap: 15px;
  grid-template-areas: 
  "head head"
  "side nav"
  "side art"
  "foot foot";
  grid-template-rows: 1fr 1fr 5fr 1fr;
  grid-template-columns: 2fr 6fr;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
  grid-area: head;
}

.sidebar {
  background-color: #005B94;
  grid-area: side;
}

.nav {
  background-color: #642cde;
  grid-area: nav;
}

.article {
  background-color: #7E1DC3;
  grid-area: art;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
  grid-area: foot;
}