/* Add CSS Styling */

.button {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}

.button.button-one {
    background-color: black;
    color: white;
}

.button.button-two {
    background-color: yellow;
}