body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  grid-template: 100px 100px 520px 100px / 472px 1400px;
  gap: 15px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
}

.sidebar {
  background-color: #005B94;
  grid-row: 2 / span 2;
  grid-column: 1 / span 1;
}

.nav {
  background-color: #642cde;
  grid-column: 2 / 3;
  grid-row: 2 / span 1;
}

.article {
  background-color: #7E1DC3;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / -1;
  grid-row: 4 / span 1;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}